# Dependencies
node_modules/
package-lock.json

# Build output
dist/
out/
release/

# Electron
electron-builder.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Temporary files
*.tmp
*.temp
.vercel
*.pem
